.cart {
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 140px;
}
.item-image img {
    max-width: 109px;
    max-height: 105px;
}
.item-name {
    font-weight: bold;
}
.action-remove {
    cursor: pointer;
}
.cart .total-cart-items {
    border: none;
}
.cart .add-more-btn {
    background: #ff7c08;
    border: none;
    border-radius: 30px;
}
.cart .add-more-btn:hover {
    background: var(--colorBlack);
    color: var(--colorWhite);
}