.queue-all {
    padding-left: 4vw;
    padding-right: 4vw;
    display: block;
}
.cart_view.queue-content {
    margin-top: 0px !important;
}
.order-table {
    overflow: hidden;
}
.order-row:nth-child(odd) {
    background: #d0d4d8 !important;
}
.user-name {
    width: 100%;
    text-align: left;
}
.user-address {
    width: 100%;
    text-align: left;
    margin-top: 15px;
}
.col-cart-name {
    display: block !important;
}
.col-cart-item {
    display: block !important;
    width: 25% !important;
    min-width: 170px !important;
}
.col-cart-date {
    display: block !important;
    width: 40% !important;
    min-width: 348px !important;
}
.col-cart-date .order-status {
    text-align: left;
    margin-bottom: 10px;
}
.col-cart-date h6 {
    width: 100%;
    text-align: left;
}
.col-cart-date .not-first {
    margin-top: 15px !important;
}
.cart-item {
    width: 100%;
}
.cuisine-name {
    font-size: 14px;
    font-weight: 800;
}
.cuisine-name.not-first {
    margin-top: 15px !important;
}
.cuisine-option {
    padding-left: 15px;
}
.date-value {
    padding-bottom: 10px;
}