.queue-menu {
    margin-top: 140px;
    padding-left: 4vw;
    padding-right: 4vw;
}
.queue-menu .menu_filter {
    justify-content: left;
    padding: 0px;
    margin: 0px;
}
.queue-menu .menu_filter button {
    margin: 0px !important;
}
.queue-menu .menu_filter .my-button {
    margin-right: 10px !important;
}
.queue-menu .pagination {
    float: right;
}
.queue-menu .pagination.hide {
    display: none;
}
.queue-menu .pagination button {
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 1px !important;
    margin-right: 1px !important;
}
.queue-menu .pagination button:disabled {
    background: gray;
    border: gray;
}
.queue-menu .pagination .current-page {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;
    position: relative;
    top: 6px;
}