.queue-menu {
    width: 100%;
}
.queue-menu .menu_filter {
    justify-content: left;
    padding-left: 4px;
    padding-bottom: 10px;
}
.queue-menu .menu_filter button {
    margin-left: 0px !important;
}
.queue-menu .menu_filter button:nth-child(2) {
    margin-left: 10px !important;
}
.order-status-note {
    font-size: 12px;
    float: right;
    position: relative;
    top: 30px;
}