.queue-me {
    padding-left: 4vw;
    padding-right: 4vw;
}
.queue-me .cart_view.queue-content {
    margin-top: 0px !important;
}
.queue-me .order-table {
    overflow: hidden;
}
.queue-me .order-row:nth-child(odd) {
    background: #d0d4d8 !important;
}
.queue-me .user-name {
    width: 100%;
    text-align: left;
}
.queue-me .user-address {
    width: 100%;
    text-align: left;
    margin-top: 15px;
}
.queue-me .col-cart-name {
    display: block !important;
}
.queue-me .col-cart-item {
    display: block !important;
    width: 25% !important;
    min-width: 170px !important;
}
.queue-me .col-cart-date {
    display: block !important;
    width: 40% !important;
    min-width: 348px !important;
}
.queue-me .col-cart-date .order-status {
    text-align: left;
    margin-bottom: 10px;
}
.queue-me .col-cart-date h6 {
    width: 100%;
    text-align: left;
}
.queue-me .col-cart-date .not-first {
    margin-top: 15px !important;
}
.queue-me .cart-item {
    width: 100%;
}
.queue-me .cuisine-name {
    font-size: 14px;
    font-weight: 800;
}
.queue-me .cuisine-name.not-first {
    margin-top: 15px !important;
}
.queue-me .cuisine-option {
    padding-left: 15px;
}
.queue-me .date-value {
    padding-bottom: 10px;
}
.queue-me .small-screen {
    display: none !important;
}
@media (max-width: 500px) {
    .queue-me .col-cart-name,
    .queue-me .col-cart-item,
    .queue-me .col-cart-date {
        display: none !important;
    }

    .queue-me .col-cart-name.small-screen {
        display: block !important;
        width: 100%;
    }
}